

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div >
        <nav class="navbar navbar-expand-lg navbar-light bg-light "> 
            <div class="container">
                <h1>Cloud9 playlists</h1>
                
        
                <div class="collapse navbar-collapse" id="navbarResponsive">
                
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item active">
                            <p class="nav-link">Find your vibe {{user.username}}</p>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/playlist/{{user.id}}/new_playlist">Add new playlist</a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="/logout">Logout </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="m-3">
        <table class="table table-hover table-dark ">
            <thead>
            <tr>
                <th scope="col">playlist name</th>
                <th scope="col">creater</th>
                <th scope="col">listen</th>
            </tr>
            </thead>
            <tbody>
            {% for p in play%}
            <tr>
                <th scope="row"><a href="/playlist/user/{{p.id}}/single_playlist">{{p.playlist_name}}</a></th>
                <td>{{p.creater.username}}</td>
                <td>
                    {% if session['user_info'] == p.creater.id%}
                    <a href="">edit</a>
                    <a href="">delete</a>
                    {% endif %}
                    <a href="">check it out</a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>